* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mediator {
    button {
        background: red;
        outline: none;
        border: none;
        margin: 15px;
        padding: 5px 15px;
        color: white;
        cursor: pointer;
    }

    div {
        padding: 10px 15px;
        text-decoration: underline;
    }
}
